/* || General setup */

html, body {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 14px;
    background-color: #a9a9a9;
  }
  
  body {
    width: 100%;
    min-width: 800px;
    margin: 0 auto;
  }
  
  /* || typography */
  
  h1, h2, h3 {
    font-family: 'Cinzel Decorative', cursive;
    color: #2a2a2a;
  }
  
  p, input, li {
    font-family: 'Roboto Condensed', sans-serif;
    color: #2a2a2a;
  }
  
  h1 {
    font-size: 4rem;
    text-align: center;
    text-shadow: 2px 2px 10px black;
  }
  
  h2 {
    font-size: 3rem;
    text-align: center;
  }
  
  h3 {
    font-size: 2.2rem;
  }
  li {
    font-family: 'Cinzel Decorative', cursive;
    color: #2a2a2a;
    font-size: 1.8rem;
    line-height: 1.5;
  }
  p {
    font-size: 1.8rem;
    line-height: 1.5;
  }
  
  /* || header layout */
  
  header {
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
  }
  
  body > * {
    background-color: red;
    padding: 1%;
  }
  
  main, header, nav, article, footer, section {
    background-color: rgba(249, 250, 251, 0.5);
    padding: 1%;
  }
  
  h1 {
    flex: 5;
    text-transform: uppercase;
  }
  
  header img {
    display: block;
    height: 60px;
    padding-top: 20.15px;
  }
  
  nav {
    height: 70px;
    flex: 100%;
    display: flex;
  }
  
  nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
  }
  
  nav li {
    display: inline;
    text-align: center;
    flex: 1;
  }
  
  nav a, nav span {
    display: inline-block;
    font-size: 2rem;
    height: 3rem;
    line-height: 1.7;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
  
  }
  
  /* || main layout */
  
  main {
    display: flex;
  }
  
  article, section {
    flex: 4;
  }